.card {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: hsl(217, 19%, 24%);
  width: 94%;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px;
  border-style: none;
}

.advice-id {
  margin: 1.9rem 0 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(150, 100%, 66%);
  font-size: 12px;
}

.advice {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.divider {
  margin: 1rem 0 2rem 0;
}

.dice {
  background-color: hsl(150, 100%, 66%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -48px;
  border-style: none;
}

.dice:hover {
  box-shadow: 0 0 35px 0 hsl(150 100% 66%);
}

@media (min-width: 380px) {
  .card {
    width: 50ch;
  }
  .divider {
    margin: 2rem 0 2rem 0;
  }
}
